@model APP_PG_USERS_ROLES_SERVICE.Models.not_typical_grants

<div class="modal fade" id="AddUser">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить нетиповую задачу</h4>
                <button type="button" class="close btn app-btn-secondary" data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>

            </div>
            <div class="modal-body">
                <div style="display: none;text-align:center;" id="imgSpinner1">
                    <img style="width:100%" src="~/load2.gif" />
                    <h3 style=" color:#0e70a0" class="modal-title">Подождите, идет синхронизация...</h3>
                </div>
                <div id="imgSpinner2">
                <form asp-action="Create" id="FormAddNotTyp" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="Bindgrid"
                      asp-antiforgery="true">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row g-4 settings-section">
                        <div class="col-12 col-md-6">
                            <label asp-for="task_id" class="control-label"></label>
                            <select asp-for="task_id" class="form-control" asp-items="ViewBag.task_id"></select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="date_time_create" class="control-label"></label>
                            <input asp-for="date_time_create" class="form-control" />
                            <span asp-validation-for="date_time_create" class="text-danger"></span>
                        </div>
                         <div class="col-12 col-md-6">
                            <label asp-for="schm_id" class="control-label"></label>
                            <select asp-for="schm_id" class="form-control" asp-items="ViewBag.schm_id"></select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="parameters" class="control-label"></label>
                            <input asp-for="parameters" class="form-control" />
                            <span asp-validation-for="parameters" class="text-danger"></span>
                        </div>
                        <div class="col-12 col-md-6">
                            <label asp-for="role_id" class="control-label"></label>
                            <select asp-for="role_id" class="form-control" asp-items="ViewBag.role_id"></select>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="is_repeat" /> @Html.DisplayNameFor(model => model.is_repeat)
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                   
                </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-save="modal">Добавить</button>
            </div>
        </div>
    </div>
</div>
<style>
    .form-control{
        font-size: 13px;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
