@model APP_PG_USERS_ROLES_SERVICE.Models.not_typical_grants_exec_log

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>not_typical_grants_exec_log</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.txt_error)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.txt_error)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.not_typical_grants_exec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.not_typical_grants_exec.id_not_typical_grant_exec)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_not_typical_grants_exec_log">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
