@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.tasks_not_typical_grants>


<table class="table">
    <thead>
        <tr>
            <th>Имя задачи</th>
            <th>Описание</th>
            <th>Скрипт</th>
            <th>Кол-во параметров</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.task_name</td>
                <td>@item.task_descr</td>
                <td>@item.task_script</td>
                <td>@item.count_params</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>


