@model APP_PG_USERS_ROLES_SERVICE.Models.roles

@{

}

<div class="modal fade" id="DeleteRole">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Удаление роли/пользователя</h4>
                <button type="button" class="close btn app-btn-secondary" data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>

            </div>
            <div class="modal-body">
                <div style="display: none;text-align:center;" id="imgSpinner1">
                    <img style="width:100%" src="~/load4.gif" />
                    <h3 style=" color:#0e70a0" class="modal-title">Подождите, идет синхронизация...</h3>
                </div>
                <div id="imgSpinner2">
                    <div class="row g-4 settings-section">
                        <div class="col-12 col-md-12">
                            <label class="form-label">Подтвердите удаление пользователя @Model.role_name с сервера</label>
                            <span class="ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Необходимо указать логин по которому пользователь сможет подключаться к БД">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                    <circle cx="8" cy="4.5" r="1" />
                                </svg>
                            </span>
                        </div>
                    </div>

                </div>
               

            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input name="srvi" type="hidden" value="@ViewBag.srvid.ToString()" />
                    <button type="button" class="btn btn-error" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger" data-save="modal">Удалить</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
