@model IEnumerable<APP_PG_USERS_ROLES_SERVICE.Models.view_servers_connect_checks>

@{
	
}

<div class="row g-3 mb-4 align-items-center justify-content-between">
	<div class="col-auto">
		<h1 class="app-page-title mb-0">Список серверов</h1>
	</div>
	<div class="col-auto">
		<div class="page-utilities">
			<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
				<div class="col-auto">
							<a asp-action="Create" class="btn btn-outline-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
									<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
									<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
								</svg>
								Добавить
							</a>
						</div>
				<div class="col-auto">
					<input type="submit" value="Обновить данные" id="btnupdservers" class="btn app-btn-secondary" />
				</div>
				<div class="col-auto" >
					
						<div class="col-auto">
							@Html.TextBox("SearchServers","",new { @class="form-control search-docs", placeholder="Поиск..."})
						</div>

				</div><!--//col-->
				<div class="col-auto">

					<select class="form-select w-auto" id="selectRel">
						<option selected="" value="0">Все</option>
						<option value="1">Активные</option>
						<option value="2">Неактивные</option>
					</select>
				</div>
			</div><!--//row-->
		</div><!--//table-utilities-->
	</div><!--//col-auto-->
</div><!--//row-->

<div id="dvServers" style="min-height: 250px;min-width: 100%;">
	@{
		Html.RenderPartial("GetServers", Model);
	}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<script>
	$(document).ready(function () {
		
		$("#SearchServers").bind('input', function () {
			var SearchValue = $("#SearchServers").val();
			var SearchValue2 = $("#selectRel").val();
			var SetData = $("#dvServers");
			$('#dvServers').load('@Url.Action("GetServers", "servers")?SearchRelRole=' + SearchValue + '&selectRel=' + SearchValue2);
		});
		$("#selectRel").on('change', function (e) {
			var SearchValue = $("#SearchServers").val();
			var SearchValue2 = $("#selectRel").val();
			var SetData = $("#dvServers");
			$('#dvServers').load('@Url.Action("GetServers", "servers")?SearchRelRole=' + SearchValue + '&selectRel=' + SearchValue2);
		});
		$("#btnupdservers").on('click', function () {
			var SearchValue = $("#SearchServers").val();
			var SearchValue2 = $("#selectRel").val();
			var SetData = $("#dvServers");
			$('#dvServers').hide().load('@Url.Action("GetServers", "servers")?SearchRelRole=' + SearchValue + '&selectRel=' + SearchValue2).show(1000);
			alertify.set('notifier', 'delay', 2);
			alertify.notify('Данные обновлены!');
		});
	});
</script>
