@model APP_PG_USERS_ROLES_SERVICE.Models.schm_grants

@{

}

<div class="modal fade" id="AddSchGrant">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить гранты на БД</h4>
                <button type="button" class="close btn app-btn-secondary" data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>

            </div>
            <div class="modal-body">
                <form asp-action="Create" id="AddSchGrant" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="Bindgrid"
                      asp-antiforgery="true">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row g-4 settings-section">
                        <div class="col-12 col-md-1">
                            <label class="grt_txt form-label">GRANT</label>
                        </div>
                        <div class="col-12 col-md-2">
                            <select asp-for="schm_grant_privs_id" class="form-control grt" asp-items="ViewBag.schm_grant_privs_id"></select>
                        </div>
                        <div class="col-12 col-md-2">
                            <label class="grt_txt form-label">ON SCHEMA</label>
                        </div>
                        <div class="col-12 col-md-2">
                            <select asp-for="schm_id" class="form-control grt" asp-items="ViewBag.schm_id"></select>
                        </div>
                        <div class="col-12 col-md-1">
                            <label class="grt_txt form-label">TO</label>
                        </div>
                        <div class="col-12 col-md-2">
                            <select asp-for="role_id" class="form-control grt" data-live-search="true" asp-items="ViewBag.role_id"></select>
                        </div>
                        <div class="col-12 col-md-1">
                            <label class="grt_txt form-label">;</label>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-save="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>


<style>
    .grt {
        height: 50px;
    }

    .grt_txt {
        height: 50px;
        display: flex;
        align-items: center;
    }

    .grt_txt {
        font-weight: bold;
    }
</style>

