@model APP_PG_USERS_ROLES_SERVICE.Models.db_grants

@{
}

<div class="modal fade" id="DeleteRole">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">REVOKE ПРАВ</h4>
                <button type="button" class="close btn app-btn-secondary" data-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </button>

            </div>
            <div class="modal-body">
                <div class="row g-4 settings-section">
                    <div class="col-12 col-md-12">
                        <label class="form-label">Будет выполнена команда: <b>REVOKE @Model.db_grant_privs.db_grant_priv_name ON DATABASE @Model.databases.db_name FROM @Model.roles.role_name ;</b></label>
                    </div>
                </div>




            </div>
            <div class="modal-footer">
                <form asp-action="RevokeGrant">
                    <button type="button" class="btn btn-error" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-danger" data-save="modal">Удалить</button>
                </form>

            </div>
        </div>
    </div>
</div>
