@model APP_PG_USERS_ROLES_SERVICE.Models.schemas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>schemas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id_schm" />
            <div class="form-group">
                <label asp-for="schm_name" class="control-label"></label>
                <input asp-for="schm_name" class="form-control" />
                <span asp-validation-for="schm_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="db_id" class="control-label"></label>
                <select asp-for="db_id" class="form-control" asp-items="ViewBag.db_id"></select>
                <span asp-validation-for="db_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="oid_schm" class="control-label"></label>
                <input asp-for="oid_schm" class="form-control" />
                <span asp-validation-for="oid_schm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
