@{
    ViewBag.Title = "500";
}

<div class="row">
	<div class="col-12 col-md-11 col-lg-7 col-xl-6 mx-auto">
		<div class="app-card p-5 text-center shadow-sm">
			<h1 class="page-title mb-4">500<br><span class="font-weight-light">Нет доступа к серверу БД</span></h1>
			<div>
				<img src="~/errors/500.gif" style="width:100%" />
			</div>
			<a class="btn app-btn-secondary" asp-action="index" asp-controller="home">На домашнюю страницу</a>
		</div>
	</div><!--//col-->
</div><!--//row-->